.moduleListContainer {
    width: 100%;
}

.filters {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    gap: 1rem;
}

.moduleList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.moduleCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 300px;
  position: relative;
}

.moduleCategory {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #007bff;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
}